<div class='home-content wrapper'>
  <h1 class='page-tile'>SOSGテスト<h1>
    <p>SOGSは、アメリカのサウスオークス財団がギャンブル依存症の診断のために開発したテスト</p>
    <i class="fas fa-clinic-medical fa-5x heart_blue"></i>
    <div class='button'>
    <%= link_to 'スタート','static_pages_path' ,class:'btn-square-pop'%>
  </div>
</div>
