<nav class="navbar navbar-light p-4" style="background-color:#C0C0C0">
  <%= link_to 'ギャンブル依存症診断',root_path, class:'font-weight-bold lead text-white' %>
    <nav class="navbar navbar-light">
    　<%= link_to '病院検索','https://www.ncasa-japan.jp/you-do/treatment/treatment-map/', class:'font-weight-bold lead text-white' %>
    </nav>
</nav>