<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3 mt-5">
      <h1 class="font-weight-bold">ギャンブル依存度90%</h1>
      <h3 class="mt-5">
        <p>・ギャンブル依存症は立派な病気です!</p>
      </h3>
      <h3 class="mt-5">
        <p>・適切な治療を早急に受けましょう😵</p>
      </h3>
      <%= link_to '依存症専門病院検索',hospitals_path, class:'btn-gradient-3d-simple fa-2x m-5' %>
    </div>
  </div>
</div>


