<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3 mt-5">
      <h1 class="font-weight-bold">ギャンブル依存度50%</h1>
      <h3 class="mt-5">
        <p>・ギャンブルの仕方に問題があります!</p>
      <h3 class="mt-5">
        <p>・自分なりのルールを決めてギャンブルに取り組みましょう😲</p>
    </div>
  </div>
</div>
