<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3 mt-5">
      <h1 class="font-weight-bold">ギャンブル依存度10%</h1>
      <h3 class="mt-5">
        <p>・適切にギャンブルを楽しめています!</p>
      </h3>
      <h3 class="mt-5">
        <p>・やりすぎには注意ですよ😁</p>
      </h3>
    </div>
  </div>
</div>

